.detailWrapper {
    margin-top: 10rem;
    margin-bottom: 5rem;
    display: flex;
    padding: 0rem 5rem;
    position: relative;
}
.detailWrapper h2 {
    margin-bottom: 2rem;
}
.detailWrapper h3 {
    margin: 2rem 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
}
.detailWrapper li {
    font-size: 1.2rem;
    line-height: 2.5rem;
}
.detailWrapper ul{
    margin-top: 2rem;
}
.active {
    background: linear-gradient(35deg, #494949 ,#313131);
    color: white;
}
 button {
     padding: 1rem 2rem;
     color: #313131;
     background: white;
     border: 2px solid black;
     margin-right: 2rem;
     font-weight: 600;
 }
 .info {
     margin-left: 10rem;
 }
 .image-container  {
     position: sticky;
    
 }